.App {

}

@keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOutRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  
  .slide-in {
    animation: slideInLeft 0.8s ease-in-out;
  }
  
  .slide-out {
    animation: slideOutRight 0.8s ease-in-out;
  }


